<% if @artist %>
  <div class='text-center'>
    <h5 class="flat">Similar to <%= link_to resource.name, resource %></h5>
    <h5 class='subheader'><%= link_to "Show all", artists_path %></h5>
  </div>
<% end %>

<div class='row'>
  <div class='large-8 columns large-centered'>
    <%= form_tag '', method: 'GET' do %>
      <%= search_field_tag :q, params[:q], placeholder: "Filter by name" %>
    <% end %>
  </div>
</div>

<table cellspacing='0'>
  <thead>
    <tr>
      <th class="name">Name in official schedule</th>
      <th class="last_fm_name">Last.fm match</th>
      <th class="similar">Similar</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |artist| %>
      <tr>
        <td class="name"><strong><%= link_to artist.name, artist %></strong></td>
        <td class="last_fm_name">
          <% if l = artist.last_fm_response %>
            <%= link_to l['name'], l['url'] %>
          <% end %>
        </td>
        <td class="similar">
          <%= raw artist.similar_artists_association.map { |a| link_to(a.similar_artist.name, a) + " (#{a.score.round(2)})" }.join(", ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='pagination-centered'>
  <%= will_paginate collection %>
</div>

<%= render 'common/format_links' %>
