<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Roskilde Labs Recommendation Engine" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class='container'>
      <header id="top" class='row'>
        <div class='small-12'>
          <div class='text-center'>
            <h1 class="flat"><%= link_to "Roskilde LABS Similar Artists", root_path %></h1>
            <h3 class='subheader'>The music program matched against <%= link_to "last.fm", "http://last.fm" %></h3>
          </div>
        </div>
      </header>
      <section id="content" class='row'>
        <div class='small-12'>
          <%= yield %>
        </div>
      </section>
      <section class='row' id='footer'>
        <div class='text-center'>
          <p class='text-center'>
            This service is <%= link_to "open source", "https://github.com/mikker/rf-recommendation-engine" %>.
          </p>
          <p>
            <%= link_to image_tag("brnbw.png"), "http://brnbw.com" %>
          </p>
        </div>
      </section>
    </div>
    
    <%= javascript_include_tag "application" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-267999-36', 'brnbw.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
